.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 100px;
    width: 100%;
    background-color: #b0b0b0;
}
.header{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 90px;
    width: 100%;
    background-color: #b0b0b0;
}
.logo{
    float: left;
    height: 70px;
    width: 70px;
    padding: 10px;
    text-align: center;
}
.header .menu{
    float: right;
    height: 70px;
    width: 70px;
    padding: 10px;
    text-align: center;
}
.sidebar{
    position: fixed;
    top: 90px;
    left: 0px;
    height: calc(100vh - 190px);
    width: 200px;
    background-color: #d0d0d0;
}
.center{
    position: absolute;
    top: 90px;
    left: calc(200px + ((100vw - 200px) / 2));
    transform: translateX(-50%);
}
body{
    background-color: #fafafa;
}